.game-map, .popover {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.map-district {
    position: absolute;
    margin-left: -.9em;
    margin-top: -.8em;
    font-size: 1.8em;
    border: 2px solid white;
    cursor: pointer;
    -webkit-transition: background-color 0.1s 0 linear;
    transition: background-color 0.1s 0 linear;
}

.game-map .popover {
    width: 276px;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
}

.navbar-brand img {
    margin: -15px 0;
}

.btn-panel {
  width: 100%;
}
