.game-map {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.map-district {
    position: absolute;
    margin-left: -.9em;
    margin-top: -.8em;
    font-size: 1.8em;
    -webkit-transition: background-color 0.1s 0 linear;
    transition: background-color 0.1s 0 linear;
}

.navbar-brand img {
    margin: -15px 0;
}

.btn-panel {
  width: 100%;
}

.game-item {
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.game-item:hover {
    opacity: 0.9;
}
